.assort-view{
	background: #F2F2F2;
	padding-top: 2.8125rem;
	padding-bottom: 3.125rem;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

.assort-view > .side-view{
	height: 100%;
	background: white;
	width: 5.9375rem;
	/* background: red; */
	float: left;
	padding: 0.9375rem;
	box-sizing: border-box;
}

.assort-view > .side-view > .item{
	color: black;
	font-size: 0.75rem;
	height: 1.625rem;
	line-height: 1.625rem;
	border-radius: 0.75rem;
	text-align: center;
	margin-bottom: 0.9375rem;
}

.assort-view > .side-view > .active{
	background: black;
	color: white;
}

.assort-view > .main-view{
	width: 16.25rem;
	height: 100%;
	background: white;
	float: left;
	margin: 0.625rem;
}