.mine-view{
	overflow: auto;
	padding-bottom: 3.125rem;
}

.mine-view > .user-view{
	width: 100%;
	height: 10rem;
	background: red;
	margin-bottom: 3.125rem;
	padding: 5rem 2rem 0;
	box-sizing: border-box;
}
.mine-view > .user-view > .content-wrapper{
	height: 7.6875rem;
	background: white;
	border-radius: 0.625rem;
	position: relative;
}
.mine-view > .user-view > .content-wrapper > .user-msg{
	height: 3.4375rem;
	line-height: 3.4375rem;
	margin-bottom: 0.625rem;
}
.mine-view > .user-view > .content-wrapper > .user-msg > img{
	width: 4.1875rem;
	height: 4.1875rem;
	border-radius: 50%;
	position: absolute;
	left: 1.25rem;
	top: -1.25rem;
}
.mine-view > .user-view > .content-wrapper >.user-msg > p{
	font-size: 0.9375rem;
	text-align: center;
}


.mine-view > .user-view > .content-wrapper dl{
	text-align: center;
	border-right: 0.0625rem solid #dbdbdb;
	height: 2.625rem;
}
.mine-view > .user-view > .content-wrapper dl dt{
	margin-bottom: 0.625rem;
	font-size: 0.6875rem;
	color: #7e7e7e;
}
.mine-view > .user-view > .content-wrapper dl dd{
	font-size: 0.75rem;
	color: #DBDBDB;
}


.mine-view > .item-wrapper{
	padding: 0 0.625rem;
	margin-bottom: 0.625rem;
	background: white;
}
.mine-view > .item-wrapper > .title-wrapper{
	border-bottom: 0.0625rem solid #DBDBDB;
	height: 3.125rem;
	font-size: 0.875rem;
	line-height: 3.125rem;
}
.mine-view > .item-wrapper > .title-wrapper > h4{
	font-weight: 800;
	float: left;
}
.mine-view > .item-wrapper > .title-wrapper > a{
	float: right;
	color: #DBDBDB;
	vertical-align: middle;
}


.mine-view > .logout{
	width: 100%;
	padding: 0 0.625rem 0.625rem 0.625rem;
	box-sizing: border-box;
}

.mine-view > .logout > a{
	display: block;
	border: 0.0625rem solid #DBDBDB;
	text-align: center;
	height: 2.5625rem;
	line-height: 2.5625rem;
	background: white;
	color: black;
}